.shopping-cart .cart-item a {
    text-decoration: none;
}

.shopping-cart .cart-item {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 11px;
}

.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}

.cartImg {
    height: 50px;
    width: 50px;
}